{
    "s3DataSource":{
        "documentDataFolder": "./sample_data",
        "s3bucketName": "<AWS account ID>-datasource"
    },
    "knowledgebase":{
        "knowledgebaseDataSourceName": "restaurant-s3-datasource"
    },
    "actionGroups":[
        {
            "lambdaFunctionName": "restaurant-finder",
            "lambdaFunctionRelativeToConstructPath":"../../../restaurant_planner/restaurant-finder-openapi",
            "openapiSpecRelativeToConstructPath":"../../../restaurant_planner/restaurant-finder-openapi/restaurant-booking.json",
            "environments":{
                "SERPAPI_API_KEY": ""
            }
        },
        {
            "lambdaFunctionName": "restaurant-booking-management",
            "lambdaFunctionRelativeToConstructPath":"../../../restaurant_planner/restaurant-management-action-group",
            "openapiSpecRelativeToConstructPath":"../../../restaurant_planner/restaurant-management-action-group/restaurant-booking.json",
            "environments":{
                "RESTAURANT_API_BASE_URL": "https://<unique ID>.execute-api.us-east-1.amazonaws.com/demo"
            }
        }
    ]
}